 <div id="header" class="content-block">
  <!-- <section class="top clearfix">
    <div class="pull-left">
      <h1><a class="logo" href="index.html">Nevada <span class="logo-head">Plus</span></a></h1>
    </div>
    <! <div class="pull-right">
      <a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
    </div>
  </section>-->
  <section class="center">
    <div class="slogan">
      Join Us!!
    </div><br><br><br>
    <div class="secondary-slogan">
      「写真好きによる、写真好きのための、撮影スポットのデータベースを創る」<br><br>これが当サイトの目標です。<br><br><br><br>写真好きの皆さんのお力無くしては、創り上げることができません。<br><br><br><br>ぜひ、あなたのお力をお貸しください！！<br><br><br><br><u>下のボタンから、新規ユーザー登録 or ログインして、スポットのレビューをお願いします！！</u>
    </div>
  </section>
</div><!-- header -->



<!-- About us -->
    <div id="about" class="about-us">
        <div class="container about-sec">
            <header class="block-heading cleafix">
        <div class="title-page">
          <p class="main-header">新規登録・ログイン</p>
            <p class="sub-header">Let's get started!!</p>
        </div>
      </header>
            <div class="divide50"></div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="aboutus-item">
                        <i class="aboutus-icon fa fa-user"></i><br>
                        <h4 class="aboutus-title"><a href="/users/sign_up" class="btn btn-primary btn-lg">新規登録する</a></h4>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="aboutus-item">
                        <i class="aboutus-icon fa fa-paper-plane"></i><br>
                        <h4 class="aboutus-title"><a href="/users/sign_in" class="btn btn-primary btn-lg">ログインする</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /About us -->